body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fcfcfc;
    /* cursor: default; */
}

#loading {
    font-size: 5em;
}

#centre, #loading {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#three {
    font-size: 5em;
}

#pi {
    display: block;
    min-width: 300px;
    max-width: 600px;

    /* TODO: media queries here so that it's mobile compatible */
    /* - well, won't mobile not even work? Since the keyboard won't open */
    /* min-width: 50%;
    max-width: 100%; */
    min-height: 5rem;

    background-color: #fff;

    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 8px;
    font-size: 2em;

    margin-bottom: 20px;

    overflow-wrap: break-word;
}

#reset {
    appearance: none;
    border: none;

    padding: 0;

    display: inline;
    float: right;

    height: 30px;
    width: 30px;
}

.info-box {
    display: block;
    margin-bottom: 8px;
    font-size: 1.3em;
}

/*#pi-text {
    font-size: 75vmin;
}

#pi-hint {
    opacity: 0.3;
    cursor: pointer;
    background-color: black;
}

#pi-digits-count {
    display: block;
    position: fixed;
    font-size: 10vmin;
    top: 0;
    right: 0;
    margin: 2vmin;
    cursor: pointer;
}

#loading {
    font-size: 10vw;
    text-align: center;
    width: 100%;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2vmin;
    margin-bottom: 0.3vmin;
} */
